<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
  <div class="box" id="heading">
        <h1><%=listItem%></h1>
  </div>
    <div class="box">
      <form action="/delete" method="post">
      <%newitem.forEach((item)=>{%>
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p>
          <%=item.name%>
      </p>
    </div>
      <%})%>
      <input type="hidden" name="listName" value="<%=listItem%>"></input>
      </form>
      
      <form class="item" action="/" method="post">
        <input type="text" name="val" placeholder="Enter list item">
        <button type="submit" name="list" value=<%=listItem%>>+</button>
      </form>
    </div>

  </body>
</html>
